{{extend 'layout.html'}}
{{if auth.is_logged_in():}}
		<script src="{{=URL('static','js/Chart.js')}}"></script>
<center>	
	<h1 align = "center">Analysis for Event Organizer</h1>
	<h3>Current Buzz 3.7</h3>
	<div class="progress" float="right" style="width:400px">
	  	<div class="bar" style="width: 60%;"></div>
	</div>
	
	<div>
		<h2 align= "center">Traffic Data Date Wise</h2>
		<canvas id="canvas" height="350" width="1000"></canvas>
	</div>
	<div>
	<div id ="Buzz" style = "float:left;">
		<h2 align ="center">Buzz Variation</h2>
		<canvas id="buzzbar" height="350" width="500"></canvas>
	</div>
	<div id ="Attending" style = "float:right;">
		<h2 align ="center">Attending v/s Non attending</h2>
		<canvas id="attendingbar" height="350" width="500"></canvas>
	</div>
	</div>
	<div>
	<div id ="bar" style = "float:left;">
		<h2 align ="center">Traffic Data State Wise</h2>
		<canvas id="barbar" height="450" width="500"></canvas>
	</div>
	<div id ="rating" style = "float:right;">
		<h2 align = "center">Rating By users</h2>
		<canvas id="ratingbar" height="450" width="500"></canvas>
	</div>
	</div>
</center>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<script>

		var barChartData0 = {
			labels : ["11/8/2013","10/8/2013","9/8/2013","8/8/2013","7/8/2013","6/8/2013","5/8/2013"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : [45,120,148,189,201,241,291]
				},
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : [12,34,59,78,89,99,107]
				}
			]
			
		}

		var lineChartData1 = {
			labels : ["11/8/2013","10/8/2013","9/8/2013","8/8/2013","7/8/2013","6/8/2013","5/8/2013"],
			datasets : [
				
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [2.1,2.7,3.1,3.4,3.6,3.7,3.74]
				}
			]
			
		}

	var myLine = new Chart(document.getElementById("buzzbar").getContext("2d")).Line(lineChartData1);

	var myLine = new Chart(document.getElementById("attendingbar").getContext("2d")).Bar(barChartData0);

		var lineChartData2 = {
			labels : ["11/8/2013","10/8/2013","9/8/2013","8/8/2013","7/8/2013","6/8/2013","5/8/2013","4/8/2013","3/8/2013","2/8/2013","1/8/2013","31/7/2013","30/7/2013","29/7/2013","28/7/2013","27/7/2013","26/7/2013","25/7/2013","24/7/2013"],
			datasets : [
				
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [28,48,40,19,96,27,170,179,197,205,204,220,187,135,100,78,34,12,9,8,7,7,6]
				}
			]
			
		}

	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData2);

	var barChartData1 = {
			labels : ["Haryana","Rajsthan","Delhi","Uttar Pradesh","Himachal Pradesh","Kerala","Goa","Tamil Nadu","Maharashtra","Punjab"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : [65,59,90,81,56,55,40,15,43,56]
				},
				
			]
			
		}

	var myLine = new Chart(document.getElementById("barbar").getContext("2d")).Bar(barChartData1);

	var barChartData2 = {
			labels : ["5 Stars","4 Stars","3 Stars","2 Stars","1 Stars"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : [18,14,9,2,8]
				},
				
			]
			
		}

	var myLine = new Chart(document.getElementById("ratingbar").getContext("2d")).Bar(barChartData2);

	
	</script>
{{else:}}
	<h1>Please Login to see statistics of your events.</h1>
{{pass}}