{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
<h1>Events from other wesbites</h1>
<?xml version="1.0" encoding="UTF-8"?>
<query xmlns:yahoo="http://www.yahooapis.com/v1/base.rng"
    yahoo:count="6" yahoo:created="2013-08-11T05:19:40Z" yahoo:lang="en-US">
    <diagnostics>
        <publiclyCallable>true</publiclyCallable>
        <cache execution-start-time="292" execution-stop-time="293"
            execution-time="1" method="GET" type="MEMCACHED"><![CDATA[http://www.meraevents.com/robots.txt]]></cache>
        <url execution-start-time="0" execution-stop-time="2107"
            execution-time="2107" proxy="DEFAULT"><![CDATA[http://www.meraevents.com/List]]></url>
        <user-time>2125</user-time>
        <service-time>2108</service-time>
        <build-version>38788</build-version>
    </diagnostics> 
    <results>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img
                    alt="Beyond Wild Presents KENYA MIGRATION’13 @ Kenya"
                    src="http://content.meraevents.com/eventlogo/32368/Logowithoutline_t.jpg" title="Beyond Wild Presents KENYA MIGRATION’13 @ Kenya"/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>Beyond Wild Presents KENYA MIGRATION’13 @ Kenya</h3>
                    <div class="tencol">
                        <p>    ITINERARY FOR KENYA MIGRATION’13   Batch 1: 8-16 August.    Batch 2: 6- 14 September                      &amp;</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 08 2013 09:00 am</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img
                    alt="Beyond Wild presents A photography tour with Kedar Bhat @ SPITI VALLEY "
                    src="http://content.meraevents.com/eventlogo/32372/beyondwild-thumb_t.jpg" title="Beyond Wild presents A photography tour with Kedar Bhat @ SPITI VALLEY "/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>Beyond Wild presents A photography tour with Kedar Bhat @ SPITI VALLEY</h3>
                    <div class="tencol">
                        <p>  DATES: 10-19 August ( by train )             11-18 August ( by air )   Itinerary: Day 1: Depart Mumbai by the Delhi Garibrath at 4:55 pm from the Bandra station. Day 2: ( Par</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 10 2013 09:00 am</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img alt="Padava Unn Padalai - Hits of Dr.SPB"
                    src="http://content.meraevents.com/eventlogo/30916/spbalu-Thumb_t.jpg" title="Padava Unn Padalai - Hits of Dr.SPB"/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>Padava Unn Padalai - Hits of Dr.SPB</h3>
                    <div class="tencol">
                        <p>Padava Unn Padalai - Hits of Dr.SPB   Sripathi Panditaradhyula Balasubrahmanyam pronunciation n 4 June 1946) is an Indian playback singer, actor,music director, voice actor and film producer. He is somet</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 11 2013 06:45 pm</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img alt="The Freedom Ride 2013"
                    src="http://content.meraevents.com/eventlogo/33099/freedomride-thumb_t.jpg" title="The Freedom Ride 2013"/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>The Freedom Ride 2013</h3>
                    <div class="tencol">
                        <p>The Freedom Ride 2013 To Celebrate 66 years of Freedom and to support Education, The Atlanta Foundation presents India’s biggest corporate cycling event – The Freedom Ride 2013 on the 15th of August, 2013 @ the Gachibowli Stadium Compl</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 15 2013 06:00 am</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img
                    alt=" Run For Bharath 2013 - Independence Day Marathon"
                    src="http://content.meraevents.com/eventlogo/32825/runforbharath-thumb_t.jpg" title=" Run For Bharath 2013 - Independence Day Marathon"/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>Run For Bharath 2013 - Independence Day Marathon</h3>
                    <div class="tencol">
                        <p>Run For Bharath 2013 - Independence Day Marathon   The excellence which Bharat had achieved in the pre-colonial days was meticulously suppressed during the centuries of colonial rule with an aimto take control of Bharat, a land bound by its</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 15 2013 07:30 am</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
        <div id="Eventpost">
            <div class="imgwidthcol">
                <img alt="7 Habits of Highly Effective Disciples"
                    src="http://content.meraevents.com/eventlogo/21801/7HHED-TN_t.jpg" title="7 Habits of Highly Effective Disciples"/>
            </div>
            <div id="Eventpost-content">
                <div class="twelvecol last">
                    <h3>7 Habits of Highly Effective Disciples</h3>
                    <div class="tencol">
                        <p>  A one-day Seminar for Christian Believers, focusing on: Leadership &amp; Personal Effectiveness. A corporate executive looks at Nehemiah's 7 habits that lead him to be effective &amp; contrasts it with the 7 Habits of Saul that rendered him</p>
                    </div>
                    <div class="Eventpost-meta">
                        <span>i</span>
                        <p>Aug 15 2013 08:30 am</p>
                    </div>
                    <!-- <div class="Eventpost-Details"><a href="#">View Details</a></div>-->
                </div>
            </div>
        </div>
    </results>
</query>
<?xml version="1.0" encoding="UTF-8"?>
<query xmlns:yahoo="http://www.yahooapis.com/v1/base.rng"
    yahoo:count="1" yahoo:created="2013-08-11T05:33:30Z" yahoo:lang="en-US">
    <diagnostics>
        <publiclyCallable>true</publiclyCallable>
        <cache execution-start-time="2" execution-stop-time="3"
            execution-time="1" method="GET" type="MEMCACHED"><![CDATA[http://www.timeoutdelhi.net/robots.txt]]></cache>
        <url execution-start-time="1" execution-stop-time="328"
            execution-time="327" proxy="DEFAULT"><![CDATA[http://www.timeoutdelhi.net/events]]></url>
        <user-time>348</user-time>
        <service-time>328</service-time>
        <build-version>38788</build-version>
    </diagnostics> 
    <results>
        <div class="element-wrapper section-seperator-bottom" id="result-container">
            
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/art/everyday-idols">Everyday Idols</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Sun Aug 11</span>
                        </div>
                    </div>
                    <div>
                        <strong>Daily: </strong>
                        <p>11.00AM-8.00PM.</p>
                    </div>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=54">Art</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=everyday+idols">Everyday Idols</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=art+and+handicraft+gallery">Art And Handicraft Gallery</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=hauz+khas+village+0">Hauz Khas Village</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/theatre/big-fat-city">The Big Fat City</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Sun Aug 11</span>
                        </div>
                        <strong>Price: </strong>
                        <p>100-350</p>
                    </div>
                    <div>
                        <strong>Sun: </strong>
                        <p>4.00PM, 7.00PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/habitat-world" >Habitat World</a> -->
                        <p>India Habitat Centre, IHC Complex, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=65">Theatre</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=big+fat+city">The Big Fat City</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=habitat+world">Habitat World</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/theatre/god-carnage-0">God of Carnage</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Sun Aug 11</span>
                        </div>
                    </div>
                    <div>
                        <strong>Sat,Sun: </strong>
                        <p>7.00PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/ml-bhartia-auditorium" >ML Bhartia Auditorium</a> -->
                        <p>72, Max Mueller Marg, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=65">Theatre</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=god+carnage">God Of Carnage</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=ml+bhartia+auditorium">Ml Bhartia Auditorium</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/film/la-bodega">La Bodega</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Sun Aug 11</span>
                        </div>
                    </div>
                    <div>
                        <strong>Sun: </strong>
                        <p>4.30PM </p>
                    </div>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=58">Film</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=mumbai+events">Mumbai Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=la+bodega">La Bodega</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/dance/delhi-contemporary-arts-week">Delhi Contemporary Arts Week</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-start">Mon Aug 05</span>
                            <span class="date-display-separator">-</span>
                            <span class="date-display-end">Sun Aug 11</span>
                        </div>
                    </div>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=57">Dance</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=festivals+5">Festivals</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=performances">Performances</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+contemporary+arts+week">Delhi Contemporary Arts Week</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/around-town/talk-shyam-saran">Talk by Shyam Saran</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Sun Aug 11</span>
                        </div>
                    </div>
                    <div>
                        <strong>Sun: </strong>
                        <p>6.30PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/india-international-centre-0" >India International Centre</a> -->
                        <p>40, Max Mueller Marg, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=53">Around Town</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=talks+lectures">Talks &amp; lectures</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=india+international+centre">India International Centre</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/dance/bharatanatyam-kavitha-ramu">Bharatanatyam by Kavitha Ramu</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Mon Aug 12</span>
                        </div>
                    </div>
                    <div>
                        <strong>Mon: </strong>
                        <p>6.30PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/india-international-centre-1" >India International Centre</a> -->
                        <p>40, Max Mueller Marg, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=57">Dance</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=kavitha+ramu">Kavitha Ramu</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=kj+sarasa">Kj Sarasa</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/around-town/talk-suresh-goel">Talk by Suresh Goel</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Mon Aug 12</span>
                        </div>
                    </div>
                    <div>
                        <strong>Mon: </strong>
                        <p>6.30PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/india-international-centre-1" >India International Centre</a> -->
                        <p>40, Max Mueller Marg, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=53">Around Town</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=talks+lectures">Talks &amp; lectures</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=suresh+goel">Suresh Goel</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=india+international+centre">India International Centre</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/music/julian-clef">Julian Clef</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Tue Aug 13</span>
                        </div>
                    </div>
                    <div>
                        <strong>Tue: </strong>
                        <p>6.30PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/india-international-centre" >India International Centre</a> -->
                        <p>40, Max Mueller Marg, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=62">Music</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=julian+clef">Julian Clef</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=india+international+centre">India International Centre</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=nottingham+symphony+orchestra">Nottingham Symphony Orchestra</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <div class="result solid-border-bottom">
                <div class="left-column">
                    <div class="resultContainer1">
                        <h2>
                            <a href="http://www.timeoutdelhi.net/around-town/talk-sohail-hashmi">Talk by by Sohail Hashmi</a>
                        </h2>
                        <div class="event_bg_m">
                            <span class="date-display-single">Tue Aug 13</span>
                        </div>
                    </div>
                    <div>
                        <strong>Tue: </strong>
                        <p>7.00PM </p>
                    </div>
                    <address>
                        <!--  <a class="more" href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/venue/habitat-world" >Habitat World</a> -->
                        <p>India Habitat Centre, IHC Complex, 110003<br/>
                        </p>
                    </address>
                    <div class="tags dotted-border-top">
                        <span>Tags:</span>
                        <span class="more">
                            <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?section=53">Around Town</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=talks+lectures">Talks &amp; lectures</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=delhi+events">Delhi Events</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=listings">Listings</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=sohail+hashmi">Sohail Hashmi</a>, <a
                                href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=habita+world">Habita World</a>, <a href="http://www.timeoutdelhi.nethttp://www.timeoutdelhi.net/search?keyword=talk">Talk</a>
                        </span>
                        <!--close of span-->
                    </div>
                </div>
            </div>
            <h2 class="element-invisible">Pages</h2>
            <div class="item-list">
                <ul class="pager">
                    <li class="pager-current first">
                        <p>1</p>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=1" title="Go to page 2">2</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=2" title="Go to page 3">3</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=3" title="Go to page 4">4</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=4" title="Go to page 5">5</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=5" title="Go to page 6">6</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=6" title="Go to page 7">7</a>
                    </li>
                    <li class="pager-item">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=7" title="Go to page 8">8</a>
                    </li>
                    <li class="pager-next">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=1" title="Go to next page">next ›</a>
                    </li>
                    <li class="pager-last last">
                        <a class="active" href="http://www.timeoutdelhi.net/events?page=7" title="Go to last page">last »</a>
                    </li>
                </ul>
            </div>
            <!--</div>-->
        </div>
    </results>
</query>

 