body {
	background-color: #EEEEEE;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	width: 100%;
	-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

a {
	text-decoration: none;
}

a.button {
	font-weight: bold;
	outline: medium none;
}

a[role="button"]:hover,
div[role="button"]:hover {
	cursor: pointer;
	color: #FFF;
	border-radius: 5px;
	border-color: #c0c0c0;
	background-color: #ccc;
	background-color: rgba(204, 204, 204, 0.5);
	text-shadow: 1px 1px 1px #000;
}

h1 {
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

label:hover {
	cursor: pointer;
}

.conceal {
	visibility: hidden;
}

.note, .log {
	background-color: #000;
	border-width: 2px;
	display: table-cell;
	margin: 0;
	padding: 8px 0 0 8px;
	position: absolute;
	width: 240px;
	z-index: 999;
	height: auto;
}

.log {
	padding: 8px 0 0 0;
	bottom: 10px;
	position: fixed;
}

.note[aria-hidden="true"],
.log[aria-hidden="true"] {
	display: none;
}

.note_not_msie7 {
	left: 8px;
	top: 60px;
}

.note_msie7 {
	right: 8px;
	top: 60px;
}

.note a, .log a  {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.note .title {
	float: left;
	position: relative;
	width: 196px;
	min-height: 40px;
	margin-bottom: 5px;
}

.note_msie7 .title {
	width: 180px;
}

.note p {
	margin: 0 0 10px 0;
}

.note input{
	width: 100%;
	height: 30px;
	border: 0;
}


.note input[type="button"] {
	width: 100%;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	margin: 5px 0;
	height: 30px;
	line-height: 20px;
	cursor: pointer;
}

.note input[type="button"] {
	text-overflow: ellipsis;
}

.note input[type="checkbox"] {
	height: auto;
	width: auto;
}

.note input[type="button"]:hover {
	background-color: #333;
	color: #fff;
}

.note input[type="checkbox"]:hover {
	background-color: white !important;
}

.note input[type="button"]:active {
	background-color: #333;
	color: #fff;
	padding: 2px 0px 0px 2px;
}

.note input[disabled],
.note input[disabled]:hover
.note input[disabled]:active {
	background-color: white !important;
	color: gray !important;
	padding: 0px !important;
}

.note input[type="radio"] {
	margin-right: 5px;
	width: auto;
	height: auto;
}

.note .close, .log .close {
	color: #fff;
	display: inline;
	float: right;
	font-size: 24px;
	height: 35px;
	line-height: 35px;
	margin: -9px -1px 0 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 35px;
	z-index: 9999;
}

.note .inner {
	color: #FFF;
	width: 230px;
	height: auto;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 8px 8px 0;
}

.log_msie7 {
	left: 8px;
	bottom: 10px;
	color: #4C4C4C;
}

.log_not_msie78 {
	right: 10px;
	bottom: 10px;
	max-height: 160px;
	color: #4C4C4C;
}

.log .clear {
	color: #fff;
	font-weight: bold;
	line-height: 38px;
	margin: -8px 0 0px 0px;
	position: relative;
	text-align: center;
	background-color: #000;
	width: 207px;
	height: 35px;
}

.log .clear:hover , .log .close:hover{
	border-radius:0;
}

.log .inner {
	color: #FFF;
	height: 100px;
	margin: 0 1px 1px 0px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 8px 8px 0;
}

.log .consoleElt {
	font-size: 10px;
	max-height: 160px;
	width: 230px;
}

.log .consoleElt p {
	margin: 0;
	padding: 4px;
	width: 100%;
	background-color: #222c42;
	background-color: rgba(39, 60, 65, 0.8);
}

.log .consoleElt p.odd {
	background-color: #273c41;
	background-color: rgba(39, 60, 65, 0.5);
}

.log .consoleElt .title {
	width: 100%;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	margin-top: 20%;
}

#plus {
	text-decoration: none;
	padding: 0px 4px;
	border-radius: 20px;
	border: 2px solid white;
	margin: 10px 0px;
	display: inline-block;
}